language: python
sudo: required
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
services:
  - docker
# command to install dependencies
install: "pip install nstruct hiredis"
# command to run tests
script: bash -xe ci_test.sh
